<footer class="site-footer">
  <div class="footer-container">
  <div id="footer-left">
    <img src="/assets/2.png" alt="logo" height="60px">
    
    <div class="footer-links">
      <p>Follow me:</p>
      <a href="https://www.linkedin.com/in/emiliawil/" target="_blank">LinkedIn</a>
      <a href="https://twitter.com/emiliawil/" target="_blank">Twitter</a>
    </div>
    <div class="footer-links">
      <a href="/projects/">Projects</a>
      <a href="/blog/">Blog</a>
      <a href="/blog/">Contact</a>
    </div>
  </div>
  <div id="footer-right">
    <p>
    &copy; 2022 Emilia Williamson. <br>All rights reserved.
    </p>
  </div>
  </div>
</footer>