---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
    <h1>
        About me
    </h1>
    <figure>
        <img src="/young-pic.jpeg" alt="A profile photo of Emilia Williamson" class="profile-image" />
        <figcaption>
            Learning to play Minesweeper on the family computer, circa '99.
        </figcaption>
    </figure>

        <p>
            I'm Emilia, also known as Milly. I'm a software engineer based in Stoke-on-Trent, UK. 
        </p>
        <p>
            As a young teen, I was learned to make websites using HTML, CSS, PHP and MySQL, and I was absolutely obsessed with it. I remember making websites with table layouts and anime hero banners edited in Corel Paint Shop Pro, and uploading them via FTP. At the time, I didn't know it was something that could be a viable career (let alone a lucrative one), and I ended up going down a humanities path. But the love of making things on the web never left me, and I'm so happy to be back doing it now!
        </p>
        <p>
            In 2022, I decided to make a career change into software development, after working in advice and guidance roles for over half a decade. I signed up for <a href="https://www.schoolofcode.co.uk" target="_blank">School of Code</a>, a 16-week coding bootcamp, and it was one of the best decisions of my life. I graduated the bootcamp, became a software coach on it for a little while, and I'm now a mid-level full stack developer with three years of experience. 
        </p>
        <p>
            I've found that my humanities background (English Degree, Law GDL and customer-facing experience) has been a huge asset in my software engineering career, giving me strong communication skills and a user-centric mindset that I bring to my work every day.
        </p>
        <hr />
</Layout>

<style>
    figure {
        float: right;
        width: 220px;
        margin: 0.5rem 0 1.5rem 2rem;
        background: #fff;
        border: 10px solid #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .profile-image {
        width: 100%;
        display: block;
        object-fit: cover;
    }

    figcaption {
        font-size: 0.8rem;
        font-weight: 500;
        line-height: 1.2;
        color: var(--text);
        margin: 0.5rem 0;
        text-align: center;
    }

    

    @media (max-width: 36rem) {
        figure {
            float: none;
            margin: 1.5rem auto;
            width: 100%;
            max-width: 360px;
        }

        .profile-image {
            aspect-ratio: 1 / 1;
            object-fit: cover;
            object-position: center center;
        }
    }