---
import Layout from '../layouts/Layout.astro';
import WritingFeed from '../components/WritingFeed.astro';
---

<Layout title="Home">
    <div class="container">
        <div class="content">
            <h1>Emilia Williamson</h1>
            <span class="job-title">Software Engineer</span>
            <img src="/profile-pic.png" alt="A profile photo of Emilia Williamson" class="profile-image" />
            <p>Welcome! I'm Emilia, a full stack web developer based in the UK.</p>
            <p>This will primarily be a place for me to share my thoughts on tech topics, but I also want to use it as a space to share other things I'm interested in, like literature, philosophy and media criticism.</p>
            <p><strong>What next?</strong> See my <a href="/work">work</a>, find out what I'm up to <a href="/now">now</a>, or learn a bit more <a href="/about">about me</a>. Soon, there will be some writing on here, too.</p>

            <h2>Recent posts</h2>
            <WritingFeed limit={3} />
        </div>
    </div>
</Layout>

<style>
    :global(main) {
        display: flex;
        flex-direction: column;
    }
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1;
    }
    .job-title {
        display: block;
        font-family: var(--font-serif);
        font-size: 1.25rem;
        font-variation-settings: 'opsz' 24;
        color: var(--muted);
        margin-bottom: 1.5rem;
    }

    .profile-image {
        float: right;
        width: 220px;
        height: 220px;
        border-radius: 50%;
        object-fit: cover;
        margin: -1.5rem 0 1.5rem 2rem;
    }

    h1 {
        margin-bottom: 0;
    }

    h2 {
        clear: right;
    }

    @media (max-width: 36rem) {
        .profile-image {
            float: none;
            margin: 1rem auto;
            max-width: 360px;
        }

    }

</style>
