---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Now">
    <h1>
        Now
    </h1>
    <p class="lede">
        Last updated: May 2026
    </p>
    <p>
        Welcome to my now page, where you can see what I'm currently up to, both personally and professionally.
    </p>
    <h2>
        Headlines
    </h2>
    <p>
        Last year I bought my first house in with my partner, with whom I had been in a long-distance relationship for 5 years (!!). It's a cosy little place in Stoke-on-Trent, where we have the wild nature of the Peaks almost on our doorstep, and a great local board game cafe (shoutout to Long Rest in Hanley). 
    </p>
    <p>
        In sad news, my time at The Economist came to an end in May 2026 during a round of layoffs. I'm very happy to be keeping in touch with a lot of my former colleagues though, and forcing them to look at pictures of my vegetable trug. My time is currently filled with a lot of gardening, reading, and learning new things in preparation for my next role.
    </p>
    <h2>
        Projects
    </h2>
    <ul>
        <li><a href="https://github.com/emiliawil/emiliawil.dev">emiliawil.dev</a> - This website! Built with Astro and TypeScript.</li>
        <li><a href="https://github.com/emiliawil/dnd-wizard" target="_blank">dnd-wizard</a> - An extremely beginner-friendly D&D character builder built with Next.js and TypeScript.</li>
        <li><a href="https://github.com/emiliawil/solitaire" target="_blank">solitaire</a> - A simple solitaire game built with Next.js and TypeScript. No help from AI, just a fun coding challenge for myself.</li>
        <li>Brushing up on my fundamentals on Codewars, Excersicm, Just Javascript and real-time coding tutorials. My Claude Code hasn't been touched for some time now and I can feel my brain healing!</li>
    </ul>
    <p>
        I'm also taking advantage of my time off to do a lot of reading and engaging in hobbies I haven't had time for in a while, such as gardening, crocheting, painting and creative writing. 
    </p>
    <h2>
        Currently
    </h2>
        <h3>Reading:</h3> 
        <ul>
            <li><em>Piranesi</em> by Susanna Clarke</li>
            <li><em>Shop Class as Soulcraft</em> by Matthew B. Crawford. I'm only a few chapters in, but every sentence is a banger so far.</li>
            <li>All the <em>Red Dwarf</em> novelisations by Rob Grant & Doug Naylor. I have mixed feelings which I really must go into more detail about at some point.</li>
            <li>Some fantastic blogs by fellow devs like <a href="https://danaciocan.com/" target="_blank">Dana Ciocan</a> and <a href="https://mattandrews.info/" target="_blank">Matt Andrews</a> (both former colleagues!).</li>
        </ul>
        <h3>Watching:</h3>
        <ul>
            <li><a href="https://www.titaniumdaydream.net/" target="_blank"><em>Titanium Daydream</em></a>, a fantastically original shortform web series by Ben Crouse and Jacob Sluka. It's a lot of fun.</li>
            <li><em>The Pitt</em> - TV series (HBO/Now TV). Very cool medical drama set in an ED in Pittsburgh</li>
            <li><em>Half Man</em> - TV series (BBC/HBO). An intense, dark, toxic story that gives me anxiety (but it's fantastic)</li>
            <li><em>Project Hail Mary</em> (2026). Just saw it at the cinema and I have a lot of thoughts! I'll have to write a review at some point.</li>
        </ul>
        <h3>Playing:</h3>
        <ul>
            <li><em>Paralives</em>, an indie life sim which was just released in early access.</li>
        </ul>
</Layout>
