---
import Layout from "../layouts/Layout.astro";
---

<script
  src="https://the-claw-webring-widget.netlify.app/the-claw-webring-widget.mjs"
  type="module"
></script>

<Layout>
  <h1>Webrings</h1>
  <p class="lede">
    Webrings I am part of - go forth, and find other cool websites!
    <a href="https://tedium.co/2020/11/20/webring-history/" target="_blank">(What's a webring?)</a>
  </p>

  <!-- THE CLAW -->
  <the-claw-webring-widget>
  <div style="color: inherit; font-family: system-ui; padding: 1rem; font-size: 1rem;">
    <div
      style="display: grid; gap: 0.5rem 1rem; align-items: center; margin-bottom: 1rem; justify-content: flex-start; grid-template-areas: 'image title' 'image view';"
    >
      <img
        src="https://the-claw-webring.netlify.app/img/theclaw.png"
        alt="The Claw Webring"
        style="grid-area: image; height: 4rem; transform: rotate(-8deg);"
      />
      <h2 style="grid-area: title; font-size: 1.4rem; margin: 0;">The Claw Webring</h2>
      <a
        href="https://github.com/whitep4nth3r/the-claw-webring"
        style="grid-area: view; margin: 0; color: inherit;"
      >
        View on GitHub
      </a>
    </div>
  </div>
</the-claw-webring-widget>
</Layout>