---
import { getCollection, type CollectionEntry } from "astro:content";
import Layout from "../layouts/Layout.astro";
import WritingFeed from "../components/WritingFeed.astro";

type Item =
  | { type: "blog"; entry: CollectionEntry<"blog"> }
  | { type: "tutorials"; entry: CollectionEntry<"tutorials"> }
  | { type: "reviews"; entry: CollectionEntry<"reviews"> };

const [blog, tutorials, reviews] = await Promise.all([
  getCollection("blog"),
  getCollection("tutorials"),
  getCollection("reviews"),
]);

const items: Item[] = [
  ...blog.map((entry) => ({ type: "blog" as const, entry })),
  ...tutorials.map((entry) => ({ type: "tutorials" as const, entry })),
  ...reviews.map((entry) => ({ type: "reviews" as const, entry })),
].sort(
  (a, b) => b.entry.data.date.valueOf() - a.entry.data.date.valueOf()
);

const typeLabel = {
  blog: "Blog",
  tutorials: "Tutorial",
  reviews: "Book",
};
---

<Layout title="Writing">
  <h1>Writing</h1>
  <p class="lede">Essays, tutorials, reviews, and whatever else I find interesting.</p>

  <WritingFeed items={items} typeLabel={typeLabel} />
  <hr />
</Layout>
