---
import Layout from "../layouts/Layout.astro";
import WritingFeed from "../components/WritingFeed.astro";
---

<Layout title="Writing">
  <h1>Writing</h1>
  <p class="lede">Essays, tutorials, reviews, and whatever else I find interesting.</p>

  <WritingFeed />
  <hr />
</Layout>
