---
title: Contact
layout: 'base.njk'
---


<section id="contact-form" class="contact-form">
  <div class="container flow">
    <h2 class="section-title text-center ">Get in touch</h2>
    <p class="text-center">I love questions, feedback and opportunities to connect! No matter now big or small your enquiry, I'll get back to you as soon as I can.</p>
   
	<form>      
  <input name="name" type="text" class="feedback-input" placeholder="Name" />   
  <input name="email" type="text" class="feedback-input" placeholder="Email" />
  <textarea name="text" class="feedback-input" placeholder="Comment"></textarea>
  <input type="submit" value="submit"/>
</form>
  </div>
</section> 



